div(class="modal fade", id="newListModal", role="dialog")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button(type="button", class="close" data-dismiss="modal") &times;
                h4.modal-title
                    | Create New List
            div.modal-body
                form(action="/manage/createNewList", method="POST", id="newListForm")
                    table 
                        tr
                            td
                                label
                                    | List Name:
                            td
                                input(type="text", name="listname", id="listname", class="form-control")
                        tr
                            td
                                label
                                    | initial item:
                            td
                                input(type="text", name="restaurant_name", id="restaurant_name", class="form-control")
                        tr
                            td
                                label
                                    | address:
                            td
                                input(type="text", name="address", id="address", class="form-control")
                        tr
                            td
                                label
                                    | status:
                            td
                                select.selectpicker(id="status",name="status")
                                  option 
                                    | enable
                                  option
                                    | disable
                    
                    
            div.modal-footer
                button(type="button",class="btn btn-default",onclick="getElementById('newListForm').submit()") Submit
                button(type="button",class="btn btn-default",data-dismiss="modal") Close