extends layout

block content
    div.container
        div.row
            div.col-xs-12
                table
                    for item in listoption
                        tr
                            td
                                a(href='/manage/'+item)
                                    | #{item}
        div.row
            div.col-xs-12
                button(type="button", class="btn btn-success", data-toggle="modal", data-target="#newListModal") New
                include newListModals
       
                
        