extends layout

block content
    div.container
        div.row
            div.col-xs-12
                ul
                for item in Object.keys(res_list)
                    li
                        a(href='/manage/'+item)
                            | #{item}
                